
.titre-banner {
	color: black;
	text-align: right;
	padding: 5px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
}


.titre-titre {
	padding-left: 32px;
	margin-right: 200px;
}

.titre-my{
	color: #313ab5;
	font-size: 38px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .titre-logo {
	height: 60px;
	width: 60px;
} */

.titre-tonga {
	font-family: cursive;
}

.lmg-btn-reche {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	border-radius: 10%;
	background-color: #313ab5;
	color: white;
	cursor: pointer;
}

.lmg-input{
	margin-right: 15px;
	padding: 10px;
	margin-left: 130px;
}
