.titre-banner {
	color: black;
	text-align: center;
	padding: 15px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: space-between; /* Espace entre les éléments */
	align-items: center; /* Alignement vertical */
	flex-wrap: wrap; /* Permet de passer en plusieurs lignes si nécessaire */
}

.titre-my{
	color: #313ab5;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titre-titre {
	margin: 0;
	font-size: 24px;
}

.titre-tonga {
	font-family: cursive;
	margin: 0 20px; /* Espacement entre les éléments */
	font-size: 18px;
}

.lmg-input {
	width: 200px; /* Largeur fixe pour éviter d’occuper trop d’espace */
	padding: 10px;
	margin-left: 10px;
}

.lmg-btn-reche {
	padding: 10px 20px;
	background-color: #313ab5;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin-left: 10px;
}

/* RESPONSIVITÉ POUR PETITS ÉCRANS */
@media (max-width: 768px) {
	.titre-banner {
		flex-direction: column; /* Passe en colonne sur petits écrans */
	}

	.titre-titre {
		margin-bottom: 10px;
	}

	.titre-tonga {
		margin-bottom: 10px;
	}

	.lmg-input {
		width: 90%; /* Largeur adaptable */
		margin: 10px 0;
	}

	.lmg-btn-reche {
		width: 90%; /* Ajustement pour éviter les débordements */
		margin-right: 10px;
	}
}
