.lmj-categories {
	text-align: left;
	padding-top: 30px;
}

.lmj-categories-select {
	margin-right: 15px;
	padding-left: 10px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 40px;
}


.lmg-btn-rei {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	border-radius: 10%;
	background-color: #313ab5;
	color: white;
	margin-bottom: 20px;
	cursor: pointer;
}


@media only screen and (max-width: 996px) {

	.lmg-btn-rei{
		margin-top: 10px;
		margin-left: 40px;
	}
   
}